* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin: 0;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 300;
}

#intro-logo {
  animation: fadeInDownBig;
  animation-duration: 3s;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

#intro-text {
  margin: 10px;
  animation: fadeInUpBig;
  animation-duration: 3s;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

#intro-text text {
  color: #f5f5f5;
  font-size: medium;
}

.display .spinner-container {
  opacity: 0;
  visibility: hidden;
}

.circles {
  width: 8rem;
  height: 8rem;
  position: relative;
  opacity: 0;
  visibility: hidden;
  animation: displayCircles 5s;
}

@keyframes displayCircles {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  25% {
    opacity: 1;
    visibility: visible;
  }

  90% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.circles div {
  animation: circles 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 4rem 4rem;
}

.circles div::after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #ffffff;
  margin: -0.4rem 0 0 -0.4rem;
}

.circles div:nth-child(1) {
  animation-delay: -0.036s;
}

.circles div:nth-child(1)::after {
  top: 6.3rem;
  left: 6.3rem;
}

.circles div:nth-child(2) {
  animation-delay: -0.072s;
}

.circles div:nth-child(2)::after {
  top: 6.8rem;
  left: 5.6rem;
}

.circles div:nth-child(3) {
  animation-delay: -0.108s;
}

.circles div:nth-child(3)::after {
  top: 7.1rem;
  left: 4.8rem;
}

.circles div:nth-child(4) {
  animation-delay: -0.144s;
}

.circles div:nth-child(4)::after {
  top: 7.2rem;
  left: 4rem;
}

.circles div:nth-child(5) {
  animation-delay: -0.18s;
}

.circles div:nth-child(5)::after {
  top: 7.1rem;
  left: 3.2rem;
}

.circles div:nth-child(6) {
  animation-delay: -0.216s;
}

.circles div:nth-child(6)::after {
  top: 6.8rem;
  left: 2.4rem;
}

.circles div:nth-child(7) {
  animation-delay: -0.252s;
}

.circles div:nth-child(7)::after {
  top: 6.3rem;
  left: 1.7rem;
}

.circles div:nth-child(8) {
  animation-delay: -0.288s;
}

.circles div:nth-child(8)::after {
  top: 5.6rem;
  left: 1.2rem;
}

@keyframes circles {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: none;
}

.display .container {
  display: block;
}

.hamburger-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 2rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .hamburger-menu {
  right: 33rem;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.change .line {
  background-color: rgba(0, 0, 0, 0.8);
}

.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.hamburger-menu span {
  position: absolute;
  left: 5rem;
  width: 10rem;
  height: 4rem;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu span::before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid #000000;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: scale 25s;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

#homebot_homeowner {
  height: 0rem;
  font-family: "Josefin Slab", serif;
  color: black;
}

.__hblgw--heading-container-default-theme {
  color: black;
}

.__hblgw--button-container {
  color: #000000;
}

.banner {
  position: absolute;
  top: 20%;
  text-align: center;
}

.banner img {
  width: 50%;
  min-width: 350px;
  height: auto;
  animation: backInUp;
  animation-duration: 2s;
}

/*
.banner button {
  width: 20rem;
  height: 7rem;
  background-color: #000000;
  border-radius: 3%;
  border: none;
  font-family: "Muli", serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}*/

.d-button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 80%;
  display: grid;
  width: 20rem;
  height: 7rem;
}

.d-button button {
  background-color: #000000;
  border-radius: 3%;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  animation: backInUp;
  animation-duration: 2s;
  opacity: 1;
}

.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  transition: right 0.5s;
  z-index: 100;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  padding-top: 15px;
}

.menu-item img {
  text-align: center;
  width: 100%;
}

.menu-link {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #555;
  position: relative;
}

.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
}

.menu-link:hover::before {
  width: 100%;
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 2.5rem;
  margin: 3rem;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #777;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

@media only screen and (max-width: 480px) {
  .social-media i {
    width: 9.5rem;
    height: 9.5rem;
    font-size: 3.5rem;
  }
}

.social-media i:hover {
  background-color: #000000;
}

#SearchHomes {
  height: 100vh;
}

.mls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

.about-us {
  width: 100%;
  background-color: #f5f5f5;
}

/* For larger screens */
@media screen and (min-width: 768px) {
  .about-us {
    height: 100vh;
  }
}

/* For smaller screens */
@media screen and (max-width: 767px) {
  .about-us {
    height: auto;
  }
}

.services {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  grid-row-gap: 4rem;
}

.service {
  width: 100%;
  margin-bottom: 2rem;
}

.service:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.service:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}

.service:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}

.service:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}

.service:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}

.service:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}

.service-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.service-header i {
  font-size: 4rem;
  color: #4b4b4b;
  margin-right: 2rem;
}

@media only screen and (max-width: 480px) {
  .service-header i {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
}

.service-header h3 {
  font-family: "Poppins", serif;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 480px) {
  .service-header h3 {
    font-size: 4.6rem;
  }
}

.service-text {
  font-family: "Muli", serif;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 500;
}

@media only screen and (max-width: 480px) {
  .service-text {
    font-size: 3rem;
    font-weight: 00;
    text-align: left;
  }
}

.about-us-img-wrapper {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 100%;
}

.about-us-img-wrapper img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.team {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 20rem 5rem;
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
  width: 100%;
}

.card {
  width: 37rem;
  height: 45rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

.card-info h2 {
  font-family: "Baloo Da 2", serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: #eee;
}

.card-info h3 {
  font-family: "Poppins", serif;
  font-size: 2rem;
  font-weight: 500;
  color: #b8b5b5;
  margin-bottom: 1rem;
}

.card-info p {
  font-family: "Muli", serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: #eee;
  width: 80%;
  margin-bottom: 2rem;
}

.card-info button {
  width: 10rem;
  height: 3rem;
  background-color: #000000;
  border: none;
  font-family: "Baloo Da 2", serif;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #eee;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.bg-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 70%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.modal-content h2 {
  font-family: "Muli", serif;
  font-size: 4rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.modal-content img {
  width: 20rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-content p {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 2rem;
  padding: 2rem;
  font-family: "Muli", serif;
  line-height: 3rem;
}

.bg-modal-ken {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content-ken {
  width: 70%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media only screen and (max-width: 480px) {
  .modal-content-ken {
    height: 80rem;
    overflow-y: auto;
    opacity: 0.9;
  }
}

@media only screen and (max-width: 480px) {
  .modal-content {
    opacity: 0.9;
  }
}

.modal-content-ken h2 {
  font-family: "Muli", serif;
  font-size: 4rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.modal-content-ken img {
  width: 20rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-content-ken p {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 2rem;
  padding: 2rem;
  font-family: "Muli", serif;
  line-height: 3rem;
}

.close {
  position: absolute;
  right: 14px;
  font-size: 32px;
  transform: rotate(45deg);
  cursor: pointer;
}

.k-close {
  position: absolute;
  right: 14px;
  font-size: 32px;
  transform: rotate(45deg);
  cursor: pointer;
}

/*GALLERY*/
#gallery {
  background-color: #f5f5f5;
  background-image: url("./images/whitelogo.png");
  background-size: 70%, auto, contain;
  background-position: center;
  background-repeat: no-repeat;
}
.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
  width: 100%;
  max-width: 768px;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  flex-grow: 1;
}
.photo-grid h2 {
  font-size: 2em;
  align-self: center;
  padding: 1em;
  font-family: "Muli", serif;
}
/* For larger screens */
@media screen and (min-width: 768px) {
  .photo-grid {
    max-width: 20%;
  }
  .swiper-container {
    width: 100%;
    height: 600px;
  }
}

/* For smaller screens */
@media screen and (max-width: 767px) {
  .swiper-container {
    width: 100%;
    height: auto;
    margin-right: 4em;
  }
}

/*Reviews*/
#reviews {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

@media (min-width: 1024px) {
  #reviews {
    height: 100vh;
  }
}
.reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  max-height: 100vh;
}

#review-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #ccc;
  width: 80%; /* decrease width of the form to fit on smaller screens */
  max-width: 800px; /* limit the maximum width of the form */
  margin: 0 auto;
  border-radius: 10px;
  height: auto; /* make the form height adjust to its content */
  flex-basis: 50%;
  max-width: 600px;
}

#review-form h3 {
  display: flex;
  text-align: center;
  font-size: medium;
  font-family: "Muli", serif;
}

#review-form img {
  width: 30%;
  align-self: center;
  margin-bottom: 2em; /* add some margin at the bottom to separate the logo from the rest of the form */
}

#comment-input {
  height: 3em;
  line-height: 1.2em; /* set the line height to 1.2 times the font size */
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.form-group label {
  width: 20%;
  font-family: "Muli", serif;
  font-weight: bolder;
  font-size: 10px;
}

.form-group input[type="text"],
.form-group textarea {
  flex: 1;
  margin-left: 10px;
  font-family: "Muli", serif;
}

.rating-stars {
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
  margin-bottom: 20px; /* add margin at the bottom to separate the rating stars from the next form group */
}

.rating-stars .star {
  margin-right: 10px;
}

.rating-stars .star.active,
.rating-stars .star:hover {
  color: orange;
}

.star {
  font-size: 0.8em; /* Adjust this value to make the stars smaller or larger */
  margin-left: 0.7em;
}

.star.filled {
  color: orange; /* Adjust this value to set the color of the filled stars */
}

.rating {
  color: orange;
}

input[type="text"],
textarea {
  flex: 1;
  margin-left: 0; /* remove margin to the left to make input fields fill the width */
  margin-right: 0; /* remove margin to the right to make input fields fill the width */
}

.btn-primary {
  background-color: black;
  color: white;
  border-radius: 30px;
  width: 100%; /* make the button width 100% on smaller screens */
  /* add margin at the top to separate the button from the last form group */
}

.dropdown-content form {
  padding: 40px;
}

.dropdown-content h3 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
  font-family: "Muli", serif;
}

#review-title {
  text-align: center;
  font-size: large;
  margin-bottom: 1em;
  font-family: "Muli", serif;
}

#r-underline {
  margin-bottom: 0;
}

.review-carousel-wrapper {
  flex-basis: 50%;
}

.review-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slides {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100em;
  max-height: 35vh; /* set a fixed height for the carousel / /5 set a fixed height for the carousel */
  overflow-y: auto; /* make the carousel scrollable if the height of the reviews exceeds the fixed height */
  border-radius: 10px;
  /*border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #ccc;*/
  padding-left: 10em;
  padding-right: 10em;
}

.review-card {
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
}

@media (max-width: 850px) {
  .carousel-slides {
    grid-template-columns: 1fr;
    margin: 1em;
  }
}

.rating {
  text-align: center;
}

.review-card p {
  font-family: "Muli", serif;
  font-size: 1.5em;
}

.review-card h3 {
  text-align: center;
  font-size: 1.5em;
}

.review-card {
  padding: 0.5em;
}

@media (max-width: 850px) {
  #reviews {
    height: auto;
  }
  .rating-stars {
    font-size: 14px;
    /* add margin at the bottom to separate the rating stars from the next form group */
  }

  .r-card {
    width: 40em;
  }

  .review-card p {
    font-family: "Muli", serif;
    font-size: 2.5em;
  }
}

/* Contact */
.contact-section {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  height: 100vh;
  background-image: url("images/ContactBg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#c-header {
  margin-top: -1.5em;
}

.center-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

#previewPane {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  margin: 20px auto;
  width: 100%; /* add this line to make the table wider */
  max-width: 800px; /* add this line to set the maximum width of the table */
  background-color: white;
}

#previewPane {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
}

#previewPane img {
  max-width: 30%;
  max-height: 30%;
}

.contact-info {
  display: flex;
  justify-content: center;
  font-family: "Muli", serif;
}

.item {
  flex-direction: column;
  flex: 1 1 100%;
  justify-content: flex-start;
  font-family: "Muli", serif;
}

.item a {
  color: #000000;
  font-size: medium;
  padding: 10px;
  font-family: "Muli", serif;
}
.item i {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}

.item a:hover {
  color: blue;
}

.waui_submit {
  top: 50%;
  left: 50%;

  background-color: black;
  color: white;
  width: 50%;
  max-width: 400px;
  border-radius: 30px;
}

.waui_td_left {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Muli", serif;
}

table td {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  /* add this media query to make the section responsive */
  .contact-section {
    height: auto;
    padding: 20px;
  }

  #previewPane {
    max-width: 90%;
    max-height: 100%;
  }

  .contact-info {
    align-items: center;
  }

  .item {
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: flex-start;
  }

  .item a {
    font-size: 12px;
  }

  .waui_td_left {
    font-size: small;
  }

  #previewPane img {
    max-width: 40%;
    max-height: 40%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  #contact-section {
    height: 100%;
  }
  .center-table {
    margin-bottom: 10em;
  }
}

.footer {
  width: 100%;
  height: 15rem;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  color: #a7a7a7;
}

.social-list a {
  margin: 0 2rem;
}

.social-list i {
  font-size: 2rem;
  color: #a7a7a7;
}

#west-icon {
  width: 10rem;
}

#mls-icon {
  width: 10rem;
}

.scroll-btn {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

#jot {
  height: 100px;
}

@media (max-width: 1500px) {
  .about-us-img-wrapper {
    grid-row: 3 / -1;
  }

  .card {
    width: 34rem;
  }

  .footer-content {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  .banner h1 {
    font-size: 6rem;
    line-height: 7rem;
  }

  .banner p {
    font-size: 3rem;
  }

  .banner button {
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
  }

  .menu-link {
    font-size: 3rem;
  }

  .service:nth-child(1) {
    grid-column: 3 / 7;
  }

  .service:nth-child(2) {
    grid-column: 2 / 6;
  }

  .service:nth-child(3) {
    grid-column: 3 / 7;
  }

  .service:nth-child(4) {
    grid-column: 11 / 15;
  }

  .service:nth-child(5) {
    grid-column: 12 / 16;
  }

  .service:nth-child(6) {
    grid-column: 11 / 15;
  }
}

@media (max-width: 1300px) {
  .team {
    padding-bottom: 5rem;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .card {
    margin-bottom: 8rem;
  }

  .field {
    margin: 2rem 0;
  }
}

@media (max-width: 1000px) {
  .banner h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .banner p {
    font-size: 2.5rem;
  }

  .banner button {
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 40rem;
    margin-bottom: 6rem;
  }

  .about-us-img-wrapper {
    width: 40rem;
  }

  .about-us-img-wrapper img {
    width: 100%;
  }

  .field {
    width: 55rem;
  }

  .input-group textarea {
    max-width: 55rem;
  }

  .submit-btn {
    width: 55rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .copyright {
    order: 1;
    margin-top: 3rem;
  }
}

@media (max-width: 700px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .field {
    width: 35rem;
  }

  .input-group textarea {
    max-width: 35rem;
  }

  .submit-btn {
    width: 35rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .sidebar {
    width: 100%;
    right: -100%;
  }

  .change .hamburger-menu {
    right: 38rem;
  }

  .service {
    width: 40rem;
  }

  .menu-link {
    font-size: 6rem;
  }

  .social-media i {
    font-size: 5rem;
    width: 7rem;
    height: 7rem;
  }

  .footer {
    height: 18rem;
  }
}

/* Responsive */
@media (max-width: 1800px) {
  .video-wrapper {
    width: 90rem;
    height: 45rem;
    right: 10rem;
  }

  .section-2-paragraph {
    width: 90rem;
    right: 10rem;
  }

  .section-3 .section-heading-line {
    margin-right: 3rem;
  }
}

@media (max-width: 1650px) {
  html {
    font-size: 57%;
  }

  .video-wrapper {
    width: 85rem;
    height: 40rem;
    right: 5rem;
  }

  .section-2-paragraph {
    width: 85rem;
    right: 5rem;
    bottom: 10rem;
  }
}

@media (max-width: 1500px) {
  .section-heading-line {
    display: none;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 45%;
  }

  .banner-heading span {
    font-size: 10rem;
  }

  .banner-paragraph {
    width: 45rem;
    font-size: 3rem;
  }

  .section-2,
  .section-3,
  .section-4 {
    flex-direction: column;
  }

  .section-2 {
    height: 120vh;
  }

  .video-wrapper {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }

  .section-2-paragraph {
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }

  .section-3 {
    height: auto;
    padding: 5rem 0 10rem 0;
  }

  .section-3 .section-heading {
    margin-bottom: 7rem;
  }

  .swiper-container {
    width: 100%;
  }

  .section-4 {
    height: auto;
    padding: 5rem 0;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 40%;
  }

  .banner {
    top: 25%;
  }

  .banner-heading {
    height: 15rem;
  }

  .banner-heading span {
    font-size: 8rem;
  }

  .footer {
    padding: 0 5rem;
  }

  .footer-nav a {
    font-size: 1.8rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 35%;
  }

  .section-2 {
    height: 100vh;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
  }

  .footer-nav {
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 30%;
  }

  .banner-heading span {
    font-size: 4.5rem;
    letter-spacing: 2rem;
  }

  @keyframes animateHeading {
    0% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 2rem;
    }

    3% {
      transform: translateZ(0);
      opacity: 1;
      letter-spacing: 1rem;
    }

    25% {
      transform: translateZ(0);
      opacity: 1;
      letter-spacing: 1rem;
    }

    28% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 2rem;
    }

    100% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 2rem;
    }
  }

  .video-wrapper {
    width: 50rem;
    /*60*/
  }

  .section-2-paragraph {
    width: 45rem;
    /*45*/
  }

  .fas fa-quote-left {
    display: hidden;
  }

  .fas fa-quote-right {
    display: hidden;
  }
}

@media screen and (min-width: 480px) {
  .swiper-button-prev .nav-btn {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 600px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 450px;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 500px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 500px) {
  .gallery-item .image img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .sidebar {
    width: 55%;
  }
  .menu-item img {
    top: 1rem;
    width: 100%;
  }

  .menu-item {
    padding-top: 15px;
  }

  #underline-white {
    color: white;
  }

  .gallery {
    overflow-y: scroll;
    height: 100vh;
  }

  .social-media {
    position: absolute;
    bottom: 12rem;
    display: flex;
    justify-content: center;
  }

  .social-media i {
    font-size: 2.5rem;
    margin: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #777;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .menu-link {
    font-size: 4rem;
  }

  .change .hamburger-menu {
    right: 20rem;
  }

  #underline-white {
    background-color: #fff;
  }

  /* End of Responsive */
}
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

.section-heading {
  font-family: "Muli", serif;
  font-size: 3rem;
  font-weight: 300;
  color: #000000;
  padding-bottom: 2em;
}

.underline {
  width: 6rem;
  height: 0.3rem;
  background-color: #000000;
  margin-bottom: 10em;
}

@media screen and (max-width: 768px) {
  .section-heading {
    font-size: 3.5em;
  }
  .underline {
    width: 4rem;
  }
}
