.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgb(255, 255, 255);
}

.grid-item:hover {
  background-color: #f5f5f5;
}

.grid-item p:not(:first-of-type) {
  color: #444;
}

.grid-item h3 {
  margin-top: 0;
  font-weight: bold;
  font-family: "Muli", serif;
  font-size: medium;
}

.grid-item h2 {
  margin-top: 0;
  font-weight: bold;
  font-family: "Muli", serif;
}

.grid-item a {
  color: black;
  text-decoration: none;
  font-family: "Muli", serif;
  font-size: small;
}

.grid-item a:hover {
  color: grey;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.section-heading {
  font-family: "Muli", serif;
  font-size: 3rem;
  font-weight: 50;
  color: #000000;
  margin-bottom: 3rem;
}

.underline {
  width: 12rem;
  height: 0.3rem;
  background-color: #000000;
}

.grid-item img {
  width: 50%;
}

.back-button {
  display: inline-block;
  padding: 5px 10px;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Muli", serif;
}

.back-button:hover {
  background-color: #b7b6b6;
}

.fa-arrow-left {
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .back-button {
    display: inline-block;
    padding-top: 10px;
    color: #000000;
    font-size: 20px;
    font-family: "Muli", serif;
  }
}

